<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AR_WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Endpoint1</servlet-name>
    <servlet-class>servletContainer.Endpoint1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Endpoint1</servlet-name>
    <url-pattern>/api1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectGenre</servlet-name>
    <servlet-class>servletContainer.SelectGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGenre</servlet-name>
    <url-pattern>/SelectGenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>quizQ1</servlet-name>
    <servlet-class>servletContainer.quizQ1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quizQ1</servlet-name>
    <url-pattern>/Q2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>quizQ2</servlet-name>
    <servlet-class>servletContainer.quizQ2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quizQ2</servlet-name>
    <url-pattern>/Q3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>quizQ3</servlet-name>
    <servlet-class>servletContainer.quizQ3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quizQ3</servlet-name>
    <url-pattern>/Results</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>carQ1</servlet-name>
    <servlet-class>servletContainer.carQ1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carQ1</servlet-name>
    <url-pattern>/C2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>carQ2</servlet-name>
    <servlet-class>servletContainer.carQ2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carQ2</servlet-name>
    <url-pattern>/C3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>carQ3</servlet-name>
    <servlet-class>servletContainer.carQ3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carQ3</servlet-name>
    <url-pattern>/C4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>carQ4</servlet-name>
    <servlet-class>servletContainer.carQ4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carQ4</servlet-name>
    <url-pattern>/CarResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewCar</servlet-name>
    <servlet-class>servletContainer.NewCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCar</servlet-name>
    <url-pattern>/NC</url-pattern>
  </servlet-mapping>
</web-app>